<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>T-Watch</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"><!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}"> 
</head>

<body>
<!--add by liu-->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">
        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
           <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
           </button>
           <!-- lOGO -->
           <div class="tm-site-logo"></div>
           <a href="/index" class="tm-text-white"><h1 class="pl-4 tm-site-title">DeliveryGo</h1></a>
        </div>

    <!-- MENU LINKS -->
    <div class="navbar-header">
        <ul class="nav pull-right">
                <li><a href="/index" class="smoothScroll">Home</a></li>
                <li><a href="/learnmore" class="smoothScroll">About Us</a></li>
                <li><a href="/cityrisk" class="smoothScroll">Risk Analysis</a></li>  
                <li><a href="/block" class="smoothScroll">Road Closure</a></li>
                <li><a href="/weather" class="smoothScroll">Weather</a></li>
                <li><a href="/game" class="smoothScroll">Game</a></li>
                <li><a href="/music" target="_blank" class="smoothScroll">Music</a></li>
        </ul>
    </div>
    </div>
</div> 
<!--end by liu -->
		
        <div class="container tm-container-2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row"><p class="smoothScroll"><a href="/index">Home</a> > <a href="/rules">Road Rules</a> > <a href="">Power assisted bicycle</a></p></div>
                    <h2 class="tm-page-title">Rider Guideline: All Legal Information are retrieved from VicRoads</h2>
                </div>
            </div>
            <div class="row tm-section-mb">
                <div class="col-lg-12">
                    <!-- one block -->
                    <div class=" tm-timeline-item">
                            <div class="tm-timeline-item-inner2">
                                <img src="{% static 'images/assit.jpg' %}" alt="Image" class="rounded-circle tm-img-timeline">
                                <div class="tm-timeline-connector">
                                    <p class="mb-0">&nbsp;</p>
                                </div>
                                <div class="tm-timeline-description-wrap">
                                    <div class="tm-bg-dark tm-timeline-description">
                                        <p style="color:#66D3D7;font-size:160%">What Is a Power assisted bicycle</p>
                                        <p style="color:#66D3D7;font-size:100%">In Victoria, a power assisted bicycle is:</p>
                                        <p>1.A pedal cycle with one or more auxiliary propulsion motors attached which has a combined maximum power output not exceeding 200 watts.</p>
                                        <p>2.A bicycle certified as a Pedalec. This bicycle features an auxiliary power producing no more than 250 watts and specifies this as a continuous rating. It also restricts the top power assisted speed to 25 kilometres per hour and requires the rider to pedal to access the power</p>
                                        <p style="color:#66D3D7;font-size:100%">Please Note:</p>
                                        <p>Power assisted bicycles are not required to be registered nor the rider required to be licensed.
                                            Standard bicycle road rules apply to power-assisted bicycles.
                                            Please not that if your power assisted bicycle is not followed the above definition, it probably is a motorised bicycle and you are required to register it and hold motor license. Different road rules will be applied for motorised bicycle
                                        </p>
                                        <p>Visit <a style="color:#66D3D7;text-decoration:underline;" href=https://www.vicroads.vic.gov.au/safety-and-road-rules/cyclist-safety/power-assisted-bicycles" target="_blank">power-assisted-bicycles </a> more information.</p>
                                    </div>
                                </div>
                            </div>
                            <!--vertical line-->
                            <!--div class="tm-timeline-connector-vertical"></div-->
                        </div>
					<!-- one block end-->	
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                            <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Leisure Functions</h3>
                            <ul style="margin-left:60px;list-style: none;">
                                <li><a href="/game">Game</a></li>
                                <li><a href="/music" target="_blank">Music</a></li>
                            </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                        <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Social Media</h3>
                        <ul style="margin-left:60px;list-style: none;">
                            <li><a href="https://www.facebook.com/TWatch-1092036700954504/?modal=composer">Facebook</a></li>
                            <li><a href="https://twitter.com/TWatch20">Twitter</a></li>
                            <li><a href="https://www.instagram.com/t.watcht.watch/">Instagram</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Seeking Help</h3>
                        <ul style="margin-left:60px;list-style: none;">
                            <li><a href="https://www.fairwork.gov.au/">Fair Work Australia</a></li>
                            <li><a href="http://www.twu.com.au/">Transport Workers Union</a></li>
                            <li><a href="https://www.safeworkaustralia.gov.au/">Safe Work Australia</a></li>
                        </ul>
                    </div>
                </div>
        <hr>
        <!-- Footer -->
        <footer class="row mt-5 mb-5">
            <div class="col-lg-12">
                <p class="text-center tm-text-gray tm-copyright-text mb-0">Copyright &copy;
                    <span class="tm-current-year">2018</span> T-Watch Ltd.  | Designer: T-Watch Team
                </p>
            </div>
        </footer>
    </div>
    <!-- .container -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
    <script src="{% static 'js/templatemo-script.js' %}"></script>
    <style>
            a { color: #FFF; }
            a:hover { 
                color:#FFF; 
            } 
    </style>
</body>
</html>