<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>T-Watch</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"><!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}"> 
</head>

<body>
<!--add by liu-->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">
        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
           <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
           </button>
           <!-- lOGO -->
           <div class="tm-site-logo"></div>
           <a href="/index" class="tm-text-white"><h1 class="pl-4 tm-site-title">DeliveryGo</h1></a>
        </div>

    <!-- MENU LINKS -->
    <div class="navbar-header">
        <ul class="nav pull-right">
                <li><a href="/index" class="smoothScroll">Home</a></li>
                <li><a href="/learnmore" class="smoothScroll">About Us</a></li>
                <li><a href="/cityrisk" class="smoothScroll">Risk Analysis</a></li>  
                <li><a href="/block" class="smoothScroll">Road Closure</a></li>
                <li>
                        <a href="/weather" class="smoothScroll">
                            <img src="https://w.bookcdn.com/weather/picture/26_30354_1_1_3498db_250_2980b9_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=&anc_id=44124"/>
                        </a>
                    </li>
                <!--
                    <li><a href="/game" class="smoothScroll">Game</a></li>
                    <li><a href="/music" target="_blank" class="smoothScroll">Music</a></li>
                    -->
        </ul>
    </div>
    </div>
</div> 
<!--end by liu -->
		
        <div class="container tm-container-2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row"><p class="smoothScroll"><a href="/index">Home</a> > <a href="/rules">Road Rules</a> > <a href="">Safety tips</a></p></div>
                    <h2 class="tm-page-title">Rider Guideline: All Legal Information are retrieved from VicRoads</h2>
                </div>
            </div>
            <div class="row tm-section-mb">
                <div class="col-lg-12">
                    <!-- one block -->
					<div class=" tm-timeline-item">
                            <div class="tm-timeline-item-inner2">
                                <img src="{% static 'images/Tips.jpeg' %}" alt="Image" class="rounded-circle tm-img-timeline">
                                <div class="tm-timeline-connector">
                                    <p class="mb-0">&nbsp;</p>
                                </div>
                                <div class="tm-timeline-description-wrap">
                                    <div class="tm-bg-dark tm-timeline-description">
                                        <p style="color:#66D3D7;font-size:160%">Some Safety Tips:</p>
                                        <p style="color:#66D3D7;font-size:100%">Using Light at Night:</p> 
                                        <p>This is the law. If you do not use lights at night or in conditions of low light, penalties may apply. The front and rear lights must be visible from 200m and the bicycle must also have a red rear reflector visible from 50 metres. Bike riders who do not have bicycle lights fitted to the front and rear of their bicycles are very difficult to see at night.</p>
                                        <p style="color:#66D3D7;font-size:100%">Using Lights During The Day</p> 
                                        <p>Using flashing front and back lights in daylight too helps you be seen on the road. Drivers can have poor peripheral (side) vision. Helping them to see who is in the bike lane or bike riding beside them makes it more likely that they will adjust their driving to give bike riders the space they need. So using bike lights in flashing mode day and night helps you be seen, and helps you stay safe.</p>
                                        <p style="color:#66D3D7;font-size:100%">Riding So That You Can Be Seen</p>
                                        <p>Drivers and other road users should look out for bike riders. However, some may not, so to help drivers see you, you should ride in a prominent position on the road at a distance of approximately one meter from parked cars. You should also obey traffic signals and stop signs</p>
                                        <p style="color:#66D3D7;font-size:100%">Advice For Riders</p>
                                        <ul style="padding-left:40px">
                                            <li>Look out for drivers and passengers getting in and out of parked cars.</li>
                                            <li>Be vigilant when riding alongside parked cars and ride out of the car door zone (if possible and safe to do so).</li>
                                            <li>If you are riding on a length of road with a marked bicycle lane, you must ride in the bicycle lane unless it is impracticable to do so.</li>
                                            <li>In places where there are a lot of parked cars, slow down.</li>
                                            <li>Wear bright coloured clothing and use lights at night or in conditions of low light.</li>
                                            <li>Share the road safely.</li>
                                        </ul>
                                        <p style="color:#66D3D7;font-size:100%">Watch This Video From Victoria Law Foundation</p>
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/yGieNceFcaY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        <p>For more information, visit  <a style="color:#66D3D7;text-decoration:underline" href="https://www.vicroads.vic.gov.au/safety-and-road-rules/cyclist-safety/power-assisted-bicycles" target="_blank">Safety Tips</a> from VicRoads.</p>
                                    </div>
                                </div>
                            </div>
                            <!--vertical line-->
                            <!--div class="tm-timeline-connector-vertical"></div-->
                        </div>
					<!-- one block end-->	
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                            <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Leisure Functions</h3>
                            <ul style="margin-left:60px;list-style: none;">
                                    <li><a href="/game">DeliveryMan GO</a></li>
                                    <li><a href="/battle">Battle City</a></li>
                                    <li><a href="/music" target="_blank">Music</a></li>
                            </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                        <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Social Media</h3>
                        <ul style="margin-left:60px;list-style: none;">
                            <li><a href="https://www.facebook.com/TWatch-1092036700954504/?modal=composer">Facebook</a></li>
                            <li><a href="https://twitter.com/TWatch20">Twitter</a></li>
                            <li><a href="https://www.instagram.com/t.watcht.watch/">Instagram</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Seeking Help</h3>
                        <ul style="margin-left:60px;list-style: none;">
                            <li><a href="https://www.fairwork.gov.au/">Fair Work Australia</a></li>
                            <li><a href="http://www.twu.com.au/">Transport Workers Union</a></li>
                            <li><a href="https://www.safeworkaustralia.gov.au/">Safe Work Australia</a></li>
                        </ul>
                    </div>
                </div>
        <hr>
        <!-- Footer -->
        <footer class="row mt-5 mb-5">
            <div class="col-lg-12">
                <p class="text-center tm-text-gray tm-copyright-text mb-0">Copyright &copy;
                    <span class="tm-current-year">2018</span> T-Watch Ltd.  | Designer: T-Watch Team
                </p>
            </div>
        </footer>
    </div>
    <!-- .container -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
    <script src="{% static 'js/templatemo-script.js' %}"></script>
    <style>
            a { color: #FFF; }
            a:hover { 
                color:#FFF; 
            } 
    </style>
</body>
</html>