<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>T-Watch</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"><!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}"> 
</head>

<body>
<!--add by liu-->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">
        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
           <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
           </button>
           <!-- lOGO -->
           <div class="tm-site-logo"></div>
           <a href="/index" class="tm-text-white"><h1 class="pl-4 tm-site-title">DeliveryGo</h1></a>
        </div>

    <!-- MENU LINKS -->
    <div class="navbar-header">
        <ul class="nav pull-right">
                <li><a href="/index" class="smoothScroll">Home</a></li>
                <li><a href="/learnmore" class="smoothScroll">About Us</a></li>
                <li><a href="/cityrisk" class="smoothScroll">Risk Analysis</a></li>  
                <li><a href="/block" class="smoothScroll">Road Closure</a></li>
                <li><a href="/weather" class="smoothScroll">Weather</a></li>
        </ul>
    </div>

    </div>
</div> 
<!--end by liu -->

    <div class="container">

        <div class="container tm-container-2">
            
			<div class="row">
                <div class="col-lg-12">
                    <div class="row"><p class="smoothScroll"><a href="/index">Home</a> > <a href="/rules">Road Rules</a></p></div>  
                    <h2 class="tm-page-title">Rider Guideline: All Legal Information are retrieved from VicRoads</h2>
                </div>
            </div>

            <div class="row tm-section-mb">
                <div class="col-lg-12">
                    <!-- one block -->
                    <div class=" tm-timeline-item">
                            <div class="tm-timeline-item-inner">
                                <a href="/ruledetail/1"><img src="{% static 'images/helmet.png' %}" alt="Image" class="rounded-circle tm-img-timeline"></a>
                                <div class="tm-timeline-connector">
                                    <p class="mb-0">&nbsp;</p>
                                </div>
                                <div class="tm-timeline-description-wrap">
                                    <div class="tm-bg-dark tm-timeline-description">
                                        <a href="/ruledetail/1"><h3 class="tm-text-green tm-font-400" style="color: #66D3D7">Helmet</h3></a>
                                        <p>This page indicates that a rider of a bike must wear an approved bike helmet 
                                            to protect on the head of rider. Unless a rider is exempt from wearing a bike helmet 
                                            under another law of this jurisdiction in part 15 of road rules in Australia.
                                            <a href="/ruledetail/1" style="color:#66D3D7;text-decoration: underline">Read More</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--vertical line-->
                            <div class="tm-timeline-connector-vertical"></div>
                        </div>
                        <!-- one block -->
                        <div class="tm-timeline-item">
                            <div class="tm-timeline-item-inner">
                                <a href="/ruledetail/2"><img src="{% static 'images/night.png' %}" alt="Image" class="rounded-circle tm-img-timeline"></a></p>
                                <div class="tm-timeline-connector">
                                    <p class="mb-0">&nbsp;</p>
                                </div>
                                <div class="tm-timeline-description-wrap">
                                    <div class="tm-bg-dark-light tm-timeline-description">
                                        <a href="/ruledetail/2"><h3 class="tm-text-cyan tm-font-400" style="color: #66D3D7">Riding at night</h3></a>
                                        <p>This page describes the detailed road rules of riding at night. 
                                            Riding at night is really need to take extra care. Wearing bright colored clothing 
                                            and reflective strips, use front and rear bike lights.
                                            <a href="/ruledetail/2" style="color:#66D3D7;text-decoration: underline">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tm-timeline-connector-vertical"></div>
                        </div>
                        <!-- one block -->
                        <div class="tm-timeline-item">
                            <div class="tm-timeline-item-inner">
                                <a href="/ruledetail/3"><img src="{% static 'images/rules2.png' %}" alt="Image" class="rounded-circle tm-img-timeline"></a></p>
                                <div class="tm-timeline-connector">
                                    <p class="mb-0">&nbsp;</p>
                                </div>
                                <div class="tm-timeline-description-wrap">
                                    <div class="tm-bg-dark tm-timeline-description">
                                        <a href="/ruledetail/3"><h3 class="tm-text-yellow tm-font-400" style="color: #66D3D7">Bicycle road rules</h3></a>
                                        <p>This page presents a summary of additional bicycle-specific road rules. 
                                            Riders are not only obeying the same road rules as drivers but also need to obey 
                                            additional bicycle-specific road rules such as bicycle lanes, riding with other riders, 
                                            riding on the footpath.
                                            <a href="/ruledetail/3" style="color:#66D3D7;text-decoration: underline">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tm-timeline-connector-vertical"></div>
                        </div>
                        <!-- one block -->
                        <div class="tm-timeline-item">
                            <div class="tm-timeline-item-inner">
                                <a href="/ruledetail/4"><img src="{% static 'images/fine.png' %}" alt="Image" class="rounded-circle tm-img-timeline"></a>
                                <div class="tm-timeline-connector">
                                    <p class="mb-0">&nbsp;</p>
                                </div>
                                <div class="tm-timeline-description-wrap">
                                    <div class="tm-bg-dark-light tm-timeline-description">
                                        <a href="/ruledetail/4"><h3 class="tm-text-orange tm-font-400" style="color: #66D3D7">Fines</h3></a>
                                        <p>This page shows which types of road rules that riders are caught breaking need to pay fines 
                                            and how much riders need to pay for each type.
                                            <a href="/ruledetail/4" style="color:#66D3D7;text-decoration: underline">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tm-timeline-connector-vertical"></div>
                        </div>
                        <!-- one block -->
                        <div class="tm-timeline-item">
                            <div class="tm-timeline-item-inner">
                                <a href="/ruledetail/5"><img src="{% static 'images/assit.jpg' %}" alt="Image" class="rounded-circle tm-img-timeline"></a>
                                <div class="tm-timeline-connector">
                                    <p class="mb-0">&nbsp;</p>
                                </div>
                                <div class="tm-timeline-description-wrap">
                                    <div class="tm-bg-dark tm-timeline-description">
                                        <a href="/ruledetail/5"><h3 class="tm-text-green tm-font-400" style="color: #66D3D7">Power assisted bicycle</h3></a>
                                        <p>Pedals are the main source of power for a power-assisted bicycle. A power-assisted bicycle is a pedal bicycle with an electric motor attached to help the rider. 
                                            This page describes standard road rules of bikes apply to power-assisted bicycles.
                                            <a href="/ruledetail/5" style="color:#66D3D7;text-decoration: underline">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tm-timeline-connector-vertical"></div>
                        </div>
                        <!-- one block -->
                        <div class="tm-timeline-item">
                            <div class="tm-timeline-item-inner">
                                <a href="/ruledetail/6"><img src="{% static 'images/Tips.jpeg' %}" alt="Image" class="rounded-circle tm-img-timeline"></a>
                                <div class="tm-timeline-connector">
                                    <p class="mb-0">&nbsp;</p>
                                </div>
                                <div class="tm-timeline-description-wrap">
                                    <div class="tm-bg-dark-light tm-timeline-description">
                                        <a href="/ruledetail/6"><h3 class="tm-text-cyan tm-font-400" style="color: #66D3D7">Safety tips</h3></a>
                                        <p>This page provides some safety tips to riders to guide them make good protection measures 
                                            to avoid injuries and hurts
                                            <a href="/ruledetail/6" style="color:#66D3D7;text-decoration: underline">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- one block end-->	
                    </div>
                </div>
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                        <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Main Functions</h3>
                        <ul style="margin-left:60px;list-style: none;">
                            <li><a href="/cityrisk">Risk Analysis</a></li>
                            <li><a href="/block">Road Closure</a></li>
                            <li><a href="/showstar">Safety Voting</a></li>
                            <li><a href="/game">Game</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                        <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Social Media</h3>
                        <ul style="margin-left:60px;list-style: none;">
                            <li><a href="https://www.facebook.com/TWatch-1092036700954504/?modal=composer">Facebook</a></li>
                            <li><a href="https://twitter.com/TWatch20">Twitter</a></li>
                            <li><a href="https://www.instagram.com/t.watcht.watch/">Instagram</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Seeking Help</h3>
                        <ul style="margin-left:60px;list-style: none;">
                            <li><a href="https://www.fairwork.gov.au/">Fair Work Australia</a></li>
                            <li><a href="http://www.twu.com.au/">Transport Workers Union</a></li>
                            <li><a href="https://www.safeworkaustralia.gov.au/">Safe Work Australia</a></li>
                        </ul>
                    </div>
                </div>
        <hr>
        <!-- Footer -->
        <footer class="row mt-5 mb-5">
            <div class="col-lg-12">
                <p class="text-center tm-text-gray tm-copyright-text mb-0">Copyright &copy;
                    <span class="tm-current-year">2018</span> T-Watch Ltd.  | Designer: T-Watch Team
                </p>
            </div>
        </footer>
    </div>
    <!-- .container -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
    <script src="{% static 'js/templatemo-script.js' %}"></script>
    <style>
        a { color: #FFF; }
        a:hover { 
            color:#FFF; 
        } 
    </style>
</body>
</html>