<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>T-Watch</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"><!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}"> 
</head>

<body>
<!--add by liu-->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">
        <!-- NAVBAR HEADER -->
        <div class="navbar-header">
           <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
           </button>
           <!-- lOGO -->
           <div class="tm-site-logo"></div>
           <a href="/index" class="tm-text-white"><h1 class="pl-4 tm-site-title">DeliveryGo</h1></a>
        </div>

      <!-- MENU LINKS -->
    <!-- MENU LINKS -->
    <div class="navbar-header">
        <ul class="nav pull-right">
                <li><a href="/index" class="smoothScroll">Home</a></li>
                <li><a href="/cityrisk" class="smoothScroll">Risk Analysis</a></li>  
                <li><a href="/block" class="smoothScroll">Road Closure</a></li>
                <li><a href="/rules" class="smoothScroll">Road Rules</a></li>
                <li><a href="/showstar" class="smoothScroll">Safety Vote</a></li>
                <li><a href="/weather" class="smoothScroll">Weather</a></li>
        </ul>
    </div>
    </div>
</div> 
<!--end by liu -->
		
        <div class="container tm-container-2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row"><p class="smoothScroll"><a href="/index">Home</a> > <a href="">Weather</a></p></div>  
                    <h2 class="tm-page-title">Weather</h2>
                </div>
            </div> 
            <!--weather widget start-->
            <!--
            <div class="tm-timeline-item-inner">
            <a href="https://www.accuweather.com/en/au/melbourne/26216/biking-current-weather/26216" class="aw-widget-legal"></a>
            <div id="awtd1537427367514" class="aw-widget-36hour"  data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awtd1537427367514" data-editlocation="true" data-lifestyle="biking"></div>
            <script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
            </div>
            -->
            <!--weather widget end-->

            <!--weather widget start-->
            <div>
                    <div class="row">
                        <div class="col-lg-12">
                            <iframe src="https://www.meteoblue.com/en/weather/widget/three?geoloc=detect&nocurrent=0&noforecast=0&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=image"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 100%;height: 630px"></iframe><!--805px,630px-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" style="background-color:#10161c">
                            <iframe src="https://www.meteoblue.com/en/weather/widget/daily?geoloc=detect&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&uv=1&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&pressure=1&layout=dark"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 100%;height: 735px"></iframe><!--413-->
                        </div>
                        <div class="col-lg-6">
                            <iframe src="https://www.meteoblue.com/en/weather/widget/seeing?geoloc=detect&noground=0"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 100%;height: 738px"></iframe>
                        </div>
                    </div>
            </div>
            <!--weather widget end-->
            <br>
            <br>
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                        <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">T-Watch</h3>
                        <ul style="margin-left:60px;list-style: none;">
                            <li><p><a href="/team">Meet our team</a></p></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
                        <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Social Media</h3>
                        <ul style="margin-left:60px;list-style: none;">
                            <li><a href="https://www.facebook.com/TWatch-1092036700954504/?modal=composer">Facebook</a></li>
                            <li><a href="https://twitter.com/TWatch20">Twitter</a></li>
                            <li><a href="https://www.instagram.com/t.watcht.watch/">Instagram</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h3 class="mt-2 mb-3 tm-text-gray" style="margin-left:100px">Contact Us</h3>
                        <ul style="margin-left:60px;list-style: none;">
                            <li>T.WatchT.Watch@gmail.com</li>
                            <li>900 Dandenong Rd,Caulfield East, VIC</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <!-- Footer -->
                <footer class="row mt-5 mb-5">
                    <div class="col-lg-12">
                        <p class="text-center tm-text-gray tm-copyright-text mb-0">Copyright &copy;
                            <span class="tm-current-year">2018</span> T-Watch Ltd.  | Designer: T-Watch Team
                        </p>
                    </div>
                </footer>
    
    </div>
    <!-- .container -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
    <script src="{% static 'js/templatemo-script.js' %}"></script>
    <style>
            a { color: #FFF; }
            a:hover { 
                color:#FFF; 
            } 
    </style>

        
</body>
</html>